<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <title th:unless="${manutencao.id}">
      Lista de Solicitações - Nova Solicitação
    </title>
    <title th:if="${manutencao.id}">
      Lista de Solicitações - Editar Solicitação
    </title>
  </head>
  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Lista de Solicitações</a>
      </div>
    </nav>

    <main class="container mt-5">
      <h1 th:unless="${manutencao.id}">Nova Solicitação</h1>
      <h1 th:if="${manutencao.id}">Editar Solicitação</h1>

      <form method="POST" th:object="${manutencao}">
        <div class="mb-3">
          <label for="applicant" class="form-label">Solicitante</label>
          <input
            type="text"
            class="form-control"
            id="applicant"
            th:field="*{applicant}"
            required
          />
          <ul>
            <li
              th:each="error : ${#fields.errors('applicant')}"
              th:text="${error}"
              class="text-danger"
            ></li>
          </ul>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="description"
            th:field="*{description}"
            required
          />
          <ul>
            <li
              th:each="error : ${#fields.errors('description')}"
              th:text="${error}"
              class="text-danger"
            ></li>
          </ul>
        </div>

        <button class="btn btn-primary" type="submit">Salvar</button>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
