<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Aluno</title>
</head>

<body>
    <h1 th:text="${aluno.id} != null ? 'Editar Aluno' : 'Novo Aluno'"></h1>

    <form th:action="@{/alunos}" th:object="${aluno}" method="post">
        <input type="hidden" th:field="*{id}">

        <label for="name">Nome:</label>
        <input type="text" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></span>
        <br><br>

        <label for="age">Idade:</label>
        <input type="number" th:field="*{age}">
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red"></span>
        <br><br>

        <label for="schoolYear">Ano:</label>
        <input type="number" th:field="*{schoolYear}">
        <span th:if="${#fields.hasErrors('schoolYear')}" th:errors="*{schoolYear}" style="color:red"></span>
        <br><br>

        <button type="submit">Salvar</button>
        <a th:href="@{/alunos}">Cancelar</a>
    </form>

</body>

</html>