<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ModelAndView (Home)</title>
  </head>
  <body>
    <h1>Exemplo ModelAndView</h1>

    <p th:text="${professor}">Qualquer Coisa</p>
    <br />

    <p>Alunos:</p>
    <ul>
      <li th:each="aluno : ${alunos} " th:text="${aluno}">---</li>
    </ul>

    <p th:if="${ehVerdade}">Java é mais divertido que python</p>
  </body>
</html>
